SOAP_Predictions_handler_client2/xml-resources/web-service-references/PredictionsSoapHandlerService/wsdl/localhost_8080/SOAP_Predictions_handler2/PredictionsSoapHandlerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://predictions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://predictions/" name="PredictionsSoapHandlerService">
<types>
<xsd:schema>
<xsd:import namespace="http://predictions/" schemaLocation="http://localhost:8080/SOAP_Predictions_handler2/PredictionsSoapHandlerService?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="VerbosityException">
<part name="fault" element="tns:VerbosityException"/>
</message>
<message name="postConstruct">
<part name="parameters" element="tns:postConstruct"/>
</message>
<message name="postConstructResponse">
<part name="parameters" element="tns:postConstructResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="getOne">
<part name="parameters" element="tns:getOne"/>
</message>
<message name="getOneResponse">
<part name="parameters" element="tns:getOneResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<portType name="PredictionsSoapHandler">
<operation name="delete">
<input wsam:Action="http://predictions/PredictionsSoapHandler/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://predictions/PredictionsSoapHandler/createRequest" message="tns:create"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/createResponse" message="tns:createResponse"/>
<fault message="tns:VerbosityException" name="VerbosityException" wsam:Action="http://predictions/PredictionsSoapHandler/create/Fault/VerbosityException"/>
</operation>
<operation name="postConstruct">
<input wsam:Action="http://predictions/PredictionsSoapHandler/postConstructRequest" message="tns:postConstruct"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/postConstructResponse" message="tns:postConstructResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://predictions/PredictionsSoapHandler/editRequest" message="tns:edit"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/editResponse" message="tns:editResponse"/>
<fault message="tns:VerbosityException" name="VerbosityException" wsam:Action="http://predictions/PredictionsSoapHandler/edit/Fault/VerbosityException"/>
</operation>
<operation name="getOne">
<input wsam:Action="http://predictions/PredictionsSoapHandler/getOneRequest" message="tns:getOne"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/getOneResponse" message="tns:getOneResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://predictions/PredictionsSoapHandler/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://predictions/PredictionsSoapHandler/getAllResponse" message="tns:getAllResponse"/>
</operation>
</portType>
<binding name="PredictionsSoapHandlerPortBinding" type="tns:PredictionsSoapHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VerbosityException">
<soap:fault name="VerbosityException" use="literal"/>
</fault>
</operation>
<operation name="postConstruct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="VerbosityException">
<soap:fault name="VerbosityException" use="literal"/>
</fault>
</operation>
<operation name="getOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PredictionsSoapHandlerService">
<port name="PredictionsSoapHandlerPort" binding="tns:PredictionsSoapHandlerPortBinding">
<soap:address location="http://localhost:8080/SOAP_Predictions_handler2/PredictionsSoapHandlerService"/>
</port>
</service>
</definitions>